[submodule "buildroot"]
	path = buildroot
	url = https://github.com/threader/buildroot
	branch = master_ofl
[submodule "kernel-hardening-checker"]
	path = kernel-hardening-checker
	url = https://github.com/a13xp0p0v/kernel-hardening-checker
[submodule "lk-reducer"]
	path = lk-reducer
	url = https://github.com/jduck/lk-reducer
[submodule "hardened_malloc"]
	path = hardened_malloc
	url = https://github.com/GrapheneOS/hardened_malloc.git
[submodule "llvm-project-deluge"]
	path = llvm-project-deluge
	url = https://github.com/pizlonator/llvm-project-deluge.git
[submodule "pkgsrc"]
	path = pkgsrc
	url = https://github.com/threader/pkgsrc
	branch = ofl_pkgsrc
