[submodule "buildroot"]
	path = buildroot
	url = https://github.com/threader/buildroot
[submodule "kernel-hardening-checker"]
	path = kernel-hardening-checker
	url = https://github.com/threader/kernel-hardening-checker
[submodule "lk-reducer"]
	path = lk-reducer
	url = https://github.com/threader/lk-reducer
[submodule "linux"]
	path = linux
	url = https://github.com/torvalds/linux
